# A string used to distinguish different Supabase projects on the same host.
project_id = "perknowv2-latest"

[api]
port = 54321
schemas = ["public", "storage", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[db]
port = 54322
major_version = 15

[studio]
port = 54323

[inbucket]
port = 54324

[storage]
file_size_limit = "50MiB"

[auth]
site_url = "https://www.lavlay.com"
additional_redirect_urls = ["https://www.lavlay.com/subscription/callback", "https://www.lavlay.com"]
jwt_expiry = 3600
enable_signup = true

[auth.email]
enable_signup = true
double_confirm_changes = true
enable_confirmations = false

[functions]
port = 54321
